
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";
}

<h3>Bảng điều khiển</h3>
<div class="welcome mb-20">
    <p>Chào, <strong>@Model</strong></p>
</div>
<p class="mb-0">
    Từ bảng điều khiển, bạn có thể dễ dàng kiểm tra &amp; xem các đơn hàng của bạn, quản lý
    địa chỉ giao hàng và chỉnh sửa thông tin tài khoản, password người dùng.
</p>

