@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<button class="single-btn addToWishList" data-proid='@ViewBag.BookId'>
    @if (Model == true)
    {
        <i class="fas fa-heart loved"></i>
    }
    else
    {
        <i class="fas fa-heart"></i>
    }

</button>